{% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="branding__site-logo">
      <object type="image/svg+xml" data="{{ site_logo }}" class="logo">
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="branding__site-logo-image"/>
      </object>
    </a>
  {% endif %}
  <div class="branding__flex-container">
  {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="branding__site-name">{{ site_name }}</a>
  {% endif %}

  {% if site_slogan %}
    <h6 class="branding__site-slogan">{{ site_slogan }}</h6>
  {% endif %}
  </div>
{% endblock %}
