{# Set defaults and stage additions and overrides #}
{%
  set config = {
    'wrapper': {
      'element': node_wrapper.element ?: 'article',
      'classes': (node_wrapper.classes ?: [])|merge([
        node.isPromoted() ? 'node--promoted',
        node.isSticky() ? 'node--sticky',
        not node.isPublished() ? 'node--unpublished',
        view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
      ]),
      'attributes': node_wrapper.attributes ?: {},
    },
    'label': {
      'element': node_label.element ?: 'h2',
      'display': node_label.display ?: not page,
      'link': node_label.link is defined ? node_label.link : true,
      'classes': (node_label.classes ?: [])|merge([
        'node__title',
        'node--' ~ node.bundle|clean_class ~ '__title',
      ]),
      'attributes': node_label.attributes ?: {},
    },
    'author': {
      'element': node_author.element ?: 'footer',
      'classes': (node_author.classes ?: [])|merge([
        'node__author-info',
        'node--' ~ node.bundle|clean_class ~ '__author-info',
      ]),
      'attributes': node_author.attributes ?: {},
    },
    'content': {
      'element': node_content.element ?: 'div',
      'classes': (node_content.classes ?: [])|merge([
        'node__content',
        'node--' ~ node.bundle|clean_class ~ '__content'
      ]),
      'attributes': node_content.attributes ?: {},
    },
  }
%}

{# Configure attributes and apply classes #}
{% for key, value in config.wrapper.attributes %}
  {% set attributes = attributes.setAttribute(key, value) %}
{% endfor %}
{% set attributes = attributes.addClass(config.wrapper.classes) %}

{% for key, value in config.label.attributes %}
  {% set title_attributes = title_attributes.setAttribute(key, value) %}
{% endfor %}
{% set title_attributes = title_attributes.addClass(config.label.classes) %}

{% for key, value in config.author.attributes %}
  {% set author_attributes = author_attributes.setAttribute(key, value) %}
{% endfor %}
{% set author_attributes = author_attributes.addClass(config.author.classes) %}

{% for key, value in config.content.attributes %}
  {% set content_attributes = content_attributes.setAttribute(key, value) %}
{% endfor %}
{% set content_attributes = content_attributes.addClass(config.content.classes) %}

{# Render markup #}
{% block override %}
<{{ config.wrapper.element }}{{ attributes }}>

  {{ title_prefix }}
  {% if config.label.display %}
    <{{ config.label.element }}{{ title_attributes }}>
      {% block label %}
        {% if config.label.link %}
        <a href="{{ url }}" rel="bookmark">
        {% endif %}
          {{ label }}
        {% if config.label.link %}
        </a>
        {% endif %}
      {% endblock %}
    </{{ config.label.element }}>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <{{ config.author.element }}{{ author_attributes }}>
      {% block author_info %}
        {{ author_picture }}
        <div class="node__author-inner">
          {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
          {{ metadata }}
        </div>
      {% endblock %}
    </{{ config.author.element }}>
  {% endif %}

  <{{ config.content.element }}{{ content_attributes }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </{{ config.content.element }}>

</{{ config.wrapper.element }}>
{% endblock %}
