{% extends "@pages/page/page.twig" %}

  {% block region_header %}
    {% include "@organisms/header/header.twig" with {
      "content": {
        "join()": [
          page.header,
          page.search,
          page.navigation
          ]
        }
      }
    %}
  {% endblock %}

  {% block region_search %}
    {{ page.search }}
  {% endblock %}

  {% block region_highlighted %}
  <div class="wrapper-highlighted">
    <div class="wrapper--inner wrapper-highlighted__inner container mx-auto px-4">
      {{ page.highlighted }}
    </div>
  </div>
  {% endblock %}

  {% block region_help %}
    {{ page.help }}
  {% endblock %}

  {% block region_content %}
    {{ page.content }}
  {% endblock %}

  {% block region_sidebar_first %}
    {{ page.sidebar_first }}
  {% endblock %}

  {% block region_sidebar_second %}
    {{ page.sidebar_second }}
  {% endblock %}

  {% block region_breadcrumb %}
  <div class="wrapper-breadcrumb border-top">
    <div class="wrapper--inner wrapper-breadcrumb__inner container mx-auto px-4 flex flex-center flex-justify">
      {{ page.breadcrumb }}
    </div>
  </div>
  {% endblock %}

  {% block region_footer %}
    {% include "@organisms/footer/footer.twig" with { "content": page.footer } %}
  {% endblock %}
