{{pl_open_form_item}}
<div class="checkbox-wrapper {{modifier_class}}">
  <input{{ attributes.setAttribute('tabindex', 0) }} />{{ children }}
  <i class="icon icon-check"></i>
</div>
{{pl_checkbox_label}}
{{pl_close_form_item}}