{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
    {%
      set ulClasses = [
        'menu m0 p0 mr05 flex items-center'
      ]
    %}
      <ul {{attributes.addClass(ulClasses)}}>
    {% else %}
      <ul class="menu menu--sub-menu">
    {% endif %}
    {% for item in items %}
      {%
        set liClasses = [
          'menu__item',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'menu-item--active-trail',
        ]
      %}
      <li{{ item.attributes.addClass(liClasses) }}>
        {% set linkattributes = { class: ['menu__link p05 rounded', item.in_active_trail ? 'border bg-primary white', item.below ? 'has-popup'], 'aria-haspopup': item.below|length > 0 ? 'true' : 'false', 'aria-expanded': 'false' } %}
        {{ link(item.title, item.url, linkattributes) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  <div class="container mx-auto">
    <a id="menu-close" class="panel-action panel-action--close icon-container absolute mt1 mr1" href="javascript:"><i class="icon-close nm allt white"></i></a>
  </div>
{% endmacro %}
