{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('main-nav') }}>
    {% else %}
      <ul class="main-nav__sub">
    {% endif %}
      {% for item in items %}
        {%
          set classes = [
            'main-nav__item',
            item.is_expanded ? 'expanded',
            item.is_collapsed ? 'collapsed',
            item.in_active_trail ? 'active',
            item.below ? 'parent'
          ]
        %}
        <li{{ item.attributes.addClass(classes) }}>
          {{ link(item.title, item.url) }}
            {% if item.below %}
              {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
            {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}