<div class="wrapper wrapper--header ">
  <header id="header" role="banner" class="site-header">
    
    {{ page.header }}
    {{ page.navigation }}

  </header>
</div>

<div class="wrapper wrapper--main">
  <div id="main" class="site-main">
    <main id="content" class="column main" role="main">
      {% if page is not empty %}
        <section class="main__highlighted">
          {{ page.highlighted }}
        </section>
      {% endif %}

      <a id="main-content"></a>

      {% if title is not empty %}
        {{ title_prefix }}
        <h1 class="main__title" role="heading">{{ title }}</h1>
        {{ title_suffix }}
      {% endif %}

      {% if messages is not empty %}
        <section class="main__messages" role="region">
          {{ messages }}
        </section>
      {% endif %}

      {% if tabs is not empty or tabs is not empty %}
        <nav class="main__tabs" role="navigation">
          {{ tabs }}
        </nav>
      {% endif %}

      {% if page is not empty %}
        <aside class="main__help" role="note">
          {{ page.help }}
        </aside>
      {% endif %}

      {% if action_links is not empty %}
        <nav class="main__action-links" role="navigation">
          <ul class="action-links"
              role="menubar">{{ action_links }}</ul>
        </nav>
      {% endif %}

      <section class="main__content">
        {{ page.content }}
      </section>

      {% if feed_icons is not empty %}
        <nav class="main__feed-icons" role="navigation">
          {{ feed_icons }}
        </nav>
      {% endif %}

    </main>
    <!-- /#content -->

    {% if page.sidebar_first %}
      <aside class="sidebar-first site-sidebars">
        {{ page.sidebar_first }}
      </aside><!-- /.sidebars -->
    {% endif %}

    {% if page.sidebar_second  %}
      <aside class="sidebar-second site-sidebars">
        {{ page.sidebar_second }}
      </aside><!-- /.sidebars -->
    {% endif %}

  </div>
  <!-- /#main -->
</div>

<div class="wrapper wrapper--footer">
  <div class="wrapper wrapper--breadcrumb">
    <div id="breadcrumb">
      {{ page.breadcrumb }}
    </div>
  </div>
  <div class="site-footer">
    <footer id="footer">
      {{ page.footer }}
    </footer>
  </div>
</div>