<div {{ attributes.addClass(classes) }}>

  {% if content.top_row %}
    {% block row_top %}
      <div class="single-row single-row--top">
        <div class="inner">
          {{ content.top_row }}
        </div>
      </div>
    {% endblock %}
  {% endif %}

  <div class="row row--center md-flex mxn2">

    {% block content %}

      {% if content.main %}
        {% block main_content %}
          <main class="main-content col-12 px2
            {% if (content.left or content.right) and not (content.left and content.right)  %}
              md-col-9
            {% elseif content.left and content.right %}
              md-col-6 order-2
            {% endif %}
            {% if content.left and not content.right %}
              order-2
	          {% endif %}">
            <div class="inner">
              {{ content.main }}
            </div>
          </main>
        {% endblock %}
      {% endif %}

      {% if content.left %}
        {% block left_sidebar %}
          <aside class="sidebar sidebar--left col-12 px2 order-1
            {% if not content.main %}
              md-col-6
            {% else %}
              md-col-3
            {% endif %}">
            <div class="inner">
              {{ content.left }}
            </div>
          </aside>
        {% endblock %}
      {% endif %}

      {% if content.right %}
        {% block right_sidebar %}
          <aside class="sidebar sidebar--right col-12 md-col-3 px2
            {% if not content.main %}
              md-col-6
            {% else %}
              md-col-3 order-3
            {% endif %}">
            <div class="inner">
              {{ content.right }}
            </div>
          </aside>
        {% endblock %}
      {% endif %}

    {% endblock %}

  </div>

  {% if content.bottom_row %}
    {% block row_bottom %}
      <div class="single-row single-row--top">
        <div class="inner">
          {{ content.bottom_row }}
        </div>
      </div>
    {% endblock %}
  {% endif %}

</div>
