<div{{ attributes.addClass('toolbar') }}>
	<nav{{ toolbar_attributes.addClass('toolbar-bar') }}>
		<h2 class="visually-hidden">{{ toolbar_heading }}</h2>
		{% for key, tab in tabs %}
			{% set tray = trays[key] %}
			<div{{ tab.attributes.addClass('toolbar-tab') }}>
				{{ tab.link }}
				{% spaceless %}
					<div{{ tray.attributes }}>
						{% if tray.label %}
						<nav class="toolbar-lining clearfix" role="navigation" aria-label="{{ tray.label }}">
							<h3 class="toolbar-tray-name visually-hidden">{{ tray.label }}</h3>
							{% else %}
							<nav class="toolbar-lining clearfix" role="navigation">
								{% endif %}
								{{ tray.links }}
							</nav>
					</div>
				{% endspaceless %}
			</div>
		{% endfor %}
		<div class="toolbar-tab ml05"><a href="javascript:" id="toolbar-icon-css" class="toolbar-icon toolbar-icon-css trigger toolbar-item">Css Doc</a></div>
	</nav>
	{{ remainder }}
	{{ attach_library('bear_skin/toolbar') }}
</div>
<iframe id="toolbar-css-frame" name="toolbar-css-frame" src="{{ base_path ~ directory }}/docs/theme.html" class="toolbar-css-frame absolute allt" frameborder="0" width="650px" height="100%"></iframe>

