{{pl_open_form_item}}
<div class="radio-wrapper {{modifier_class}}">
  <input{{ attributes.setAttribute('tabindex', 0) }} />{{ children }}
  <i class="icon icon-circle"></i>
</div>
{{pl_radio_label}}
{{pl_close_form_item}}
